/* #audio-box.audio-gradient{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e50914+22,8f0222+58 
background: #e50914; /* Old browsers 
background: -moz-linear-gradient(-45deg,  #e50914 22%, #8f0222 58%); /* FF3.6-15 
background: -webkit-linear-gradient(-45deg,  #e50914 22%,#8f0222 58%); /* Chrome10-25,Safari5.1-6 
background: linear-gradient(135deg,  #e50914 22%,#8f0222 58%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e50914', endColorstr='#8f0222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient 
}
*/
.player {
  position: relative;
  width: 500px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 2px;
  padding: 5 16px;
}
.player img {
  margin-top: 5px;
  width: 60px;
  height: 50px;
}
.player .info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 50%;
  padding: 0 16px;
}
.player .info .name {
  font-size: 15px;
  font-weight: 700;
}
.player .info .singer {
  font-size: 12px;
}
.player .btns {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.player .btns div:nth-child(1) {
  font-size: 30px;
}
.player .btns div:nth-child(2),
.player .btns div:nth-child(3) {
  font-size: 18px;
}
.player .progress {
  position: absolute;
  height: 2px;
  left: 0;
  top: 0;
  background-color: #e50914;
}
@font-face {
  font-family: iconfont;
  src: url("//static0.qianqian.com/web/st/font/iconfont-4e6.woff")
    format("woff");
}
.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-list:before {
  content: "\e603";
}
.icon-loop-single:before {
  content: "\e604";
}
.icon-arrow-right:before {
  content: "\e605";
}
.icon-loop:before {
  content: "\e606";
}
.icon-prev:before {
  content: "\e607";
}
.icon-favor:before {
  content: "\e608";
}
.icon-next:before {
  content: "\e60a";
}
.icon-download:before {
  content: "\e60b";
}
.icon-search:before {
  content: "\e60c";
}
.icon-zhanwei1:before {
  content: "\e610";
}
.icon-favor1:before {
  content: "\e618";
}
.icon-random:before {
  content: "\e619";
}
.icon-play:before {
  content: "\e616";
}
.icon-stop:before {
  content: "\e617";
}
.icon-mv:before {
  content: "\e61b";
}
.icon-arrow-down:before {
  content: "\e61d";
}
.icon-arrow-left:before {
  content: "\e61e";
}
.icon-arrow-up:before {
  content: "\e61f";
}
.icon-listen:before {
  content: "\e609";
}
.icon-round:before {
  content: "\e60d";
}
.icon-triangle:before {
  content: "\e60e";
}
.icon-information:before {
  content: "\e60f";
}
.icon-home:before {
  content: "\e611";
}
.icon-i:before {
  content: "\e612";
}
.icon-information-:before {
  content: "\e613";
}
.icon-bubble-filled-icon:before {
  content: "\e614";
}
.icon-round-right:before {
  content: "\e615";
}
.icon-vip:before {
  content: "\e61a";
}
.icon-word:before {
  content: "\e61c";
}

#player {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e50914+22,8f0222+84 */
  background: rgb(229, 9, 20); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgb(229, 9, 20) 22%,
    rgb(143, 2, 34) 84%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgb(229, 9, 20) 22%,
    rgb(143, 2, 34) 84%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgb(229, 9, 20) 22%,
    rgb(143, 2, 34) 84%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e50914', endColorstr='#8f0222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.netflixcolor{
    color: #e50914!important;
    background-color: black!important;
}

.borderblack{
    border-color: black!important;
}

.playerWidth{
    width: 100%;
}

.icon-space{
  display: flex;
  justify-content: right;
  padding: initial;
}

.forward-icon{
  padding-right: 75%;
}

/*favorites sidebar*/
#favorites{
  color: #e50914;
  background-color: rgb(29, 27, 23);
  width: 20%;
  padding-bottom: 51%;
}

#favorites li{
  display: flex;
  text-align: ;
}